
/* Main text tag CSS */
body {
  display: flex;
  font-size: 15px;
  justify-content: center;
  
}

p {
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  font-size:0.5vw /* RESPONSIVE VIEWING WIDTH TEXT */
  

}

h2 {
  margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 15px;
    line-height: 43px;
    font-family: 'Orienta', sans-serif;
    
}

/* Description box CSS /w active and hover classes */

textarea {
  padding: 15px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bebace;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  transition: .2s;
  resize: none;
  overflow: hidden;
}

textarea:hover {
  background-color: #888;
}

  textarea:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

section {
  display: flex;
}

/* Submit Button CSS */
button {
  margin: 0 0 0 auto;
}


/* Label for input box CSS */
label {
  font-family: 'Orienta', sans-serif;
  font-size: 25px;
  font-style: bold;
  line-height: 20px;
  


}

/* Unordered/ordered List CSS */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  
  
}

li {
  float: left;
}


/* Main Input Box CSS w/ hover and active classes */
input {
  padding: 15px 15px;
  font-size: 15px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bebace;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  font-weight: 50;
  font-family: 'Orienta', sans-serif;
  font-size: 15px;
  font-style: bold;
  line-height: 10px;
}

input:hover {
  background-color: #888}

input:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
