

body {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
  }
  
  
  textarea {
      transition: .2s;
    resize: none;
    overflow: hidden;
  }
  
  section {
    display: flex;
  }
  
  button {
    margin: 0 0 0 auto;
  }

 
  div {
   padding: 25px;
  }

  input {
    padding: 5px 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #bebace;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
  }

  input:hover {
    background-color: #888}

  input:active {
    background-color: #888;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  textarea {
    padding: 5px 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #bebace;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
  }

  textarea:hover {
    background-color: #888}

    textarea:active {
    background-color: #888;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }