
/* Main Formatting CSS*/

body {
    display: flex;
    font-size: 15px;
    justify-content: center;
    font-size:10vw; /* Responsive Scaling Text Size */
    
  }

  
  textarea {
    transition: .2s;
    resize: none;
    overflow: hidden;
  }
  
  section {
    display: flex;
  }
  
  button {
    margin: 0 0 0 auto;
  }
 
  div {
   padding: 25px;
   font-size:10vw; /* Responsive Scaling Text Size */
  }

  input {
    padding: 15px 15px;
    font-size: 15px, 10vw; /* Responsive Scaling Text Size */
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #bebace;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    font-family: times new roman;
    font-weight: 500;
    
  }



  /* Hover Shadow Animation CSS */

  input:hover {
    background-color: #888}

  input:active {
    background-color: #888;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  textarea {
    padding: 15px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #bebace;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
  }

  textarea:hover {
    background-color: #888;
  }

    textarea:active {
    background-color: #888;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }